<! DOCTYPE html>
<html>
	<head>
		<meta charset = 'utf-8'>
		<title>Some Website</title>
	</head>
	<body>
		<h1>Whoops!</h1>
	<p>Website under maintenance. My bad, son.</p>

		{{> footer}}

	</body>
</html>



